/* Estilos Generales */
body {
    background: url('../img/GNU-LINUX.jpg') no-repeat center center fixed;
    margin: 0;
    padding: 0;
    font-family: 'Arcane', sans-serif;
}

@font-face {
    font-family: 'Arcane';
    src: url("../fuente/Arcane.otf") format('opentype');
}

@font-face {
    font-family: 'Press Start';
    src: url('../fuente/Comienzo.woff2') format('woff2'),
         url('../fuente/Comienzo.woff') format('woff'),
         url('../fuente/Comienzo.ttf') format('truetype');
}

#hora {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
	color: white; /* Texto blanco */
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 10px 0;
	z-index: 1000; /* Para que esté siempre visible */
	font-size: 18px;
}

.directorios {
	margin-top: 50px;
}

#textoDirectorios {
	color:rgba(0, 0, 0, 0.8);
	margin-left: 10px;
	margin-top: -5px;
}

#directorio2 {
	margin-top: 10px;
}

.ventana {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000; /* Por encima de otros elementos */
}

.contenido {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	width: 90%;
	max-width: 800px;
}

.elementos {
	display: flex;
	flex-wrap: wrap; /* Permitir que los elementos se ajusten en varias filas */
	justify-content: space-between; /* Separar uniformemente los elementos */
	gap: 20px; /* Espacio entre los elementos */
	margin: 20px 0;
}

.item {
	text-align: center;
	flex: 1 1 calc(25% - 20px);
	box-sizing: border-box;
}

.item img {
	width: 35px;
	height: auto;
	cursor: pointer;
}

.item p {
	margin-top: 10px;
	font-size: 14px;
	color: #333;
}

.cerrar {
	background-color: #d9534f;
	color: white;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 5px;
}

.cerrar:hover {
	background-color: #c9302c;
}

.boton-audio {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 15px;
	margin-top: 20px;
	cursor: pointer;
	border-radius: 5px;
  }
  
  .boton-audio:hover {
	background-color: #0056b3;
  }

  #comenzarPC {
	font-family: 'Press Start', sans-serif; /* Fuente de respaldo */
  }
  @font-face {
	font-family: 'Press Start';
	src: url('../fuente/Comienzo.woff2') format('woff2'),
		 url('../fuente/Comienzo.woff') format('woff'),
		 url('../fuente/Comienzo.ttf') format('truetype');
  }
  
  