* {
    box-sizing: border-box;
  }
  body {
      background-color: LightGray; 
      text-align: center;
  }
  
  .header {
      font-size: 2em;
  }
  .seedbox {
      margin-left: 35px;
      font-size:1em;
  }
  .game {
      z-index: 1;
      display: none;
      /*margin-left: 5%;
      margin-right: 5%;*/
  }
  .initDiv {
      display:inline-block;
      position: fixed;
      z-index: 3;
      padding: 10px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60%;
      
  }
  
  .newGameBox {
      display:none;
      position: fixed;
      z-index: 2;
      margin: 0px;
      padding-top: 10px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
  }
  .newGame {
      background-color: MediumPurple;
      margin: 0 auto;
      width: 80%;
      min-width: 250px;
      font-size:1em;
      overflow: auto;
      border-radius: 15px;
      padding: 15px;
  }
  .bigText {
      font-size:1.5em;
  }
  .btnLine {
      
  }
  input[type=button] {
      font-size:3vw;
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 1vw 1vw;
      text-decoration: bold;
      width: 60%;
      cursor: pointer;
  }
  .inpLine {
      margin: 4px auto;
      float: left;
      width: 100%;
      min-width: 200px;
      padding: 10px;
      text-align: left;
  }
  
  .line { 
      display: block; 
      clear: left; 
  } 
  .inputs { 
      display: block; 
      clear: left; 
      margin: 50px;
  } 
  
  .cell{ 
      width: 5.7vw; 
      height: 6vw; 
      border-style: double; 
      margin: 1px; 
      padding: 0.5vw;
      display:block; 
      float: left; 
      text-align: center; 
      text-transform: uppercase; 
      font-size:3vw;
      color: black;
      text-shadow: 1px 1px 2px #DDDDDD;
      overflow: auto;
      font-weight: bold;
   } 

  .cell::after { 
      display: block; 
      padding-top: 1vw; 
    } 

  .selectCell {
      border-style: dashed;
      opacity: 0.5;
      border-width:5px;
      border-color: Aquamarine;
  }
  
  .highlightedCell {
      border-style: dashed; 
      border-color: black;
      opacity: 0.5;
      border-width:5px;
  }
  .column-3 {
      width: 33%;
      float: left;
  }

  .color-blue {
      background-color: blue;
      background-repeat: repeat;
  }
  
  .color-darkred {
      background-color: darkred;
      background-repeat: repeat;
  }

  .color-ForestGreen {
      background-color: ForestGreen; 
      background-repeat: repeat;
  }

  .color-MediumPurple {
      background-color: MediumPurple; 
      background-repeat: repeat;
  }

  .color-gold {
      background-color: gold;
      background-repeat: repeat;
  }
  .color-white {
      background-color: white; 
  }

@media only screen and (max-width:550px) {
  /* For little screens */
  .cell{ 
      width: 10vw; 
      height: 13vw; 
      font-size:5vw;
   } 
}
@media only screen and (min-width:1000px) {
/* For large screens */
.inpLine {
  width:40%;
  margin: 15px;
}
}